:root{
    --modviolet: hsl(263, 55%, 52%);
    --dkgrayblue: hsl(217, 19%, 35%);
    --dkblackblue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    --ltgray: hsl(0, 0%, 81%);
    --ltgrayblue: hsl(210, 46%, 95%);

}

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--ltgrayblue);

}

main{
    padding: 71px 25px 0 25px;
}


h5{
    opacity: 0.5;
}
p{
    opacity: 0.70;
}


main .quotes{
    padding: 27px 32px;
    border-radius: 5px;
    margin-bottom: 24px;
    box-shadow: 10px 10px 20px var(--ltgray);
}

.daniel{
    background-color: var(--modviolet);
    background-image: url('/images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: 90%;

}

.jonathan{
    background-color: var(--dkgrayblue);
}

.jeanette{
    background-color: var(--white);
}

.patrick{
    background-color: var(--dkblackblue);
}

.kira{
    background-color: var(--white);
}

.gray{
    color: var(--dkgrayblue);
}

.white{
    color: var(--white);
}

.quotes .image-name{
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;
}

.quotes .image-name img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255, 0.75);
    margin-right: 1em;
}

.quotes h2{
    margin-bottom: 27px;
}

